# SPORE bootstrap environment example
SPORE_ENV=development
SPORE_DATA_DIR=./data
SPORE_DOCS_DIR=./docs
SPORE_REFERENCE_DIR=./references
SPORE_DOCSEARCH_PROVIDER=qmd
SPORE_DOCSEARCH_INDEX_DB=./data/docs-index/docs-kb.sqlite
SPORE_EMBEDDINGS_DIR=./data/embeddings
